<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
 <appSettings>
    <add key="ErrorLoggerBath" value="C:\Users\N.Navaseelan\Desktop\lc\WA-CASecurity\Logging\ErroLog\" />
  </appSettings>
</configuration>